html,
body {
    height: 100%;
}

body {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
        Roboto, "Helvetica Neue", Arial;
    background: #f8fafc;
}

/* keep same CSS variable used by planner.js */
:root {
    --slot-height: 40px;
    --col-template: repeat(1, minmax(500, 1fr));
}

.grid {
    display: grid;
    grid-template-columns: 120px var(--col-template);
}

.handles {
    position: absolute;
    left: 0;
    right: 0;
    height: 6px;
    cursor: ns-resize;
}

.handle-top {
    top: 0;
}

.handle-bottom {
    bottom: 0;
}
